body {
    color: #000;
    background-color: #f9f8f6;
    background-position: center;
    font-family: 'Noto Sans', sans-serif;
}

.wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 1023px;
    background-color: #E9EBEF;
    border: 2px solid #000000;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.sidenav {
    float: left;
    width: 200px;
    position: relative;
    z-index: 1;
    left: 0;
    padding-right: 20px;
    padding-left: 10px;
    background-color: #292E3B;
    overflow-x: hidden;
    padding-top: 5px;
    top: 0px;
    height: 770px;
}

.sidenav a {
    padding-top: 21px;
    padding-left: 10px;
    padding-bottom: 11px;
    padding-right: 20px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

#dix {
	position: relative;
	top: 345px;
	right: -20px;
	font-size: 15px;
  text-align: justify;
  font-family: 'Noto Sans', sans-serif;
  max-width: 977px;
}

figure {
	position: relative;
	float: left;
	top: 355px;
	height:164px; 
	width:335px;
  margin-right: 0;
  margin-left: 20;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
    top: 2px;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 2px 0px;
  padding-bottom: 2px;
  position: absolute;
  bottom: -11px;
  width: 100%;
  text-align: center;
  background-color: #292E3B;
  opacity: 0.7;
}

#mix {
  position: absolute;
  bottom: -70px;
  font-size: 12px;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  width: 1023px;
}
