body {
    color: #666666;
    background-color: #f9f8f6;
    background-position: center;
    font-family: 'Noto Sans', sans-serif;
}

.wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 1023px;
    background-color: #E9EBEF;
    border: 2px solid #000000;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.sidenav {
    float: left;
    width: 200px;
    position: relative;
    z-index: 1;
    left: 0;
    padding-right: 20px;
    padding-left: 10px;
    background-color: #292E3B;
    overflow-x: hidden;
    padding-top: 5px;
    top: 0px;
    height: 250vmax; /* Controls height of wrapper. Input value in px. */
}

.sidenav a {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

#nix {
    position: relative;
    left: 30px;
    top: 30px;
    font-family: 'Noto Sans', sans-serif;
}

#fix {
    position: relative;
    left: 30px;
    font-family: 'Noto Sans', sans-serif;
    top: 10px;
}

p {
    position: relative; 
    max-width: 950px; 
    left: 30px; 
    top: -3px; 
    text-align: justify;
}
